*,
*:before,
*:after {
  box-sizing: border-box;
  --main-color: #f4e5d9;
  --second-color: #61b6b8;
  --background: #f8f8f8;
}

body {
  font-family: "Raleway", sans-serif;
  color: gray;
}

section {
  margin: 3rem 0;
}

.about-line {
  display: block;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border: 2px var(--second-color) solid;
  width: 30%;
  text-align: left;
  margin-bottom: 1rem;
}

h1,
h2 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h2 {
  margin-bottom: 2.5rem;
}

#productos,
#nosotros,
#contacto {
  scroll-margin-top: 2rem;
}

/* ********** HEADER ********** */
.logo-container {
  display: grid;
  place-items: center;
  background-color: var(--main-color);
  max-width: 100%;
}

.logo {
  max-width: 100%;
  width: 150px;
  height: auto;
}

.nav-container {
  display: none;
}

/* ********** NOSOTROS ********** */
.about-img {
  display: none;
}

.about-p {
  text-align: left;
  line-height: 1.4rem;
  padding: 0 2rem;
  font-size: 0.8rem;
  width: 410px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.video-container {
  display: grid;
  place-items: center;
  background-color: var(--background);
  max-width: 100%;
  margin-top: 1rem;
}

.video {
  margin: 1.5rem 0;
  width: 450px;
  max-width: 100%;
}

/* ********** PRODUCTOS ********** */
article {
  text-align: center;
  margin-bottom: 1.5rem;
}

.product-name {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
  border-radius: 2rem;
  padding: 1rem;
  transition: all 0.5s;
}

/* ********** FORM ********** */
.form-container {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
}

input[type="button"] {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--second-color);
  padding: 0.7rem;
  border-radius: 15px;
  text-transform: uppercase;
  border-style: none;
  color: white;
  cursor: pointer;
  border: 1px solid;
  transition: background-color 0.5s, color 0.5s;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border-style: none;
  outline-style: none;
  border-bottom: 1px solid var(--second-color);
  resize: none;
  transition: background-color 0.5s;
  margin-bottom: 0.9rem;
}

/* ********** FOOTER ********** */
footer {
  width: 100%;
  height: auto;
  background-color: var(--main-color);
}

.footer-container {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.links {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  display: inline-block;
  padding: 2rem 0.5rem;
}

/* ********** MEDIA QUERIES ********** */
/* ********** MIN-600PX ********** */
@media (min-width: 600px) {
  h1 {
    text-align: left;
    margin-left: 2rem;
  }

  .about-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-img {
    display: block;
    margin-left: 2rem;
    width: 400px;
    max-width: 100%;
    height: auto;
  }

  .about-line {
    display: inline-block;
    margin-left: 2rem;
    border: 2px var(--second-color) solid;
    width: 30%;
    text-align: left;
    margin-bottom: 1rem;
  }

  .about-p {
    text-align: left;
    line-height: 1.4rem;
    margin-right: 2rem;
  }

  .text-container {
    order: 1;
    align-self: flex-start;
  }

  .products-container {
    flex-direction: row;
    justify-content: center;
    background-color: var(--background);
  }

  .product-img {
    opacity: 0.5;
  }

  .product-img:hover {
    opacity: 1;
  }

  .right-side-container {
    background-color: #faf3ee;
  }

  input[type="button"]:focus,
  input[type="button"]:hover {
    background-color: white;
    border: 1px solid var(--second-color);
    color: var(--second-color);
  }

  textarea:hover {
    background-color: var(--background);
  }

  .links:hover {
    border-bottom: 1.5px solid var(--second-color);
  }

  nav li:hover {
    transform: scale(1.1);
  }

  .nav-container {
    display: block;
    background-color: var(--main-color);
    margin-right: auto;
    text-align: center;
  }
}

/* ********** MIN-800PX ********** */
@media (min-width: 800px) {
  .product-container {
    margin: 0 auto;
    max-width: 100%;
    width: 900px;
    height: auto;
  }

  .menu-nav li {
    margin: 0;
    padding: 0 0.9rem 0.8rem 0.7rem;
  }
}
